.c-box-news {
  @extend %t-left;
  cursor: pointer;
  margin-bottom: px_to_rem(30px);
  &__image {
    @extend %t-left;
    @extend %relative;
    width: 100%;
    border-top: 2px solid $cl-border-date-recent-blog;
    border-width: thick;

    img {
      width: 100%;
    }
  }

  &__date {
    @extend %absolute;
    top: 0;
    left: 10px;
    background-color: $cl-bd-date-recent-blog;
    color: $cl-text-date-recent-blog;
    padding: 0 10px;

    &-month {
      line-height: px_to_rem(10px);
      font-size: $f-size-default;
    }

    &-day {
      line-height: px_to_rem(10px);
      font-size: $f-size-medium;
    }
  }

  &__desc-title {
    margin-top: 0;
    font-size: px_to_rem(15px);
    line-height: px_to_rem(20px);
    color: $cl-title-recent-blog;
  }

  &:hover {
    .c-box-news {
      cursor: pointer;

      &__image {
        border-top: 2px solid $cl-border-date-recent-blog-hover;
        border-width: thick;
      }

      &__date {
        background-color: $cl-bd-date-recent-blog-hover;
      }
    }
  }
}
