section.c-slide
  a.c-btn-arrow.c-btn-arrow-prev(href="javascript:void(0);")
    i.icon-chevron-left
  a.c-btn-arrow.c-btn-arrow-next(href="javascript:void(0);")
    i.icon-chevron-right

  .container
    .c-slide__desc

      .c-slide__desc-text.c-banner-text
        h3.c-banner-text__sub-title amazing theme
        h2.c-banner-text__title adelfox is the best
        h4.c-banner-text__desc Uniques and Model Design

        a.c-btn-slide(href="javascript:void(0);")
          i.icon-cube.c-btn-slide__icon.c-btn-slide__icon--box
          span.c-btn-slide__text-wrapper.c-btn-slide__icon--box-text
            span.c-btn-slide__text-title ALL IN ONE
            span.c-btn-slide__text-desc Purchase now

        a.c-btn-slide(href="javascript:void(0);")
          span.c-btn-slide__text-wrapper.c-btn-slide__icon--lightbulb-text
            span.c-btn-slide__text-title LIVE DEMO
            span.c-btn-slide__text-desc Explore now
          i.icon-lightbulb.c-btn-slide__icon.c-btn-slide__icon--lightbulb

      .c-slide__desc-indicators
        ul.c-indicators
          - for (var x = 0; x < 4; x++)
            li
              a(href="javascript:void(0);")
