section.c-core-feature
  a.c-btn-arrow.c-btn-arrow-prev(href="javascript:void(0);")
    i.icon-chevron-left
  a.c-btn-arrow.c-btn-arrow-next(href="javascript:void(0);")
    i.icon-chevron-right
  .container
    .content-wrapper
      .row
        .col-md-6.col-xs-12
          img.c-core-feature__img(src="images/slice/general/content/browser_feature.png")
        .col-md-6.col-xs-12
          h2.c-tit-desc-section Core Feature of AldexFox
          .c-core-feature__content
            .c-core-feature__cup--icon
              i.icon-trophy
            .c-core-feature__desc
              .c-text-content__title.c-core-feature__desc--title Theme of The Year
              .c-text-content__content Maecenas bibendum lacus gravida placerat consequat. Vivamus quis hendrerit mauris. Vestibulum laoreet felis sed consectetur sollicitudin.
              .c-core-feature__btn.flex-box
                .c-btn-lg.c-core-feature__btn--read Read more
                .c-btn-lg.c-core-feature__btn--purchase Purchase now
