section.c-info
  .container
    .c-info__personal.flex-box
      +icon-text("hoai.truong@asnet.com.vn").icon-envelop
      +icon-text("+84 123 456 789").icon-phone
      +icon-text("mr.crazykv").icon-skype
    .c-info__cart
      +icon-text("Cart [0] items").icon-cart
  