section.c-purchase
  .container
    .row
      .c-purchase__text.col-xs-12
        .c-tit-desc-section.c-purchase__title We Always Try to Create a Difference
        .c-purchase__content 
          p Lorem ipsum dolor sit amet, please buy and don't forget maxime nostru
      .c-purchase__btn.col-xs-12 
        a.btn.btn-default.c-purchase__btn--purchase purchase now         
