section.c-purchase-now__wrapper
  .container
    .c-purchase-now__text
      .c-tit-desc-section You Will Save Time and Effort!
      .c-purchase-now__text--desc Nullam interdum vehicula urna ut laoreet. Nulla eleifend suscipit fringilla. Morbi mollis ut lorem eget viverra. Phasellus et augue placerat, imperdiet nibh quis, fermentum velit. Suspendisse blandit ligula a ipsum posuere cursus.
    .c-purchase-now__button
      a.c-btn-lg--under-line purchase now
