section.c-twitter
  .container
    .c-twitter__box
      a.c-twitter__box--icon(href="javascript: void(0);")
        i.icon-twitter
    h2.c-twitter__title.c-tit-desc-section New Tweets
    p.c-twitter__desc http://bit.ly/hwi4f @John Doe: If you see this worthy, please buy and don't forget to rate it 5 stars
    a.c-btn-lg.c-twitter__button.o-backgroup-btn Follow us
    .c-twitter-indicators
      ul.c-indicators
        - for (var x = 0; x < 4; x++)
          li.o-bg-indicator
            a(href="javascript:void(0);")
