section.c-adelfox-service
  .container
    .row
      .col-md-6.col-xs-12
        .c-adelfox-service__why
          +tit-desc-section("why adelFox?", "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum")
          .c-adelfox-service__why--content
            -var reasons = [{"reasons_name":"our solution", "href":"#solution", "aria_controls": "solution", "content": "Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy."}, {"reasons_name":"our technology", "href":"#technology", "aria_controls": "technology", "content": "Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy."}, {"reasons_name":"our mission", "href":"#mission", "aria_controls": "mission", "content": "Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy."}, {"reasons_name":"our vison", "href":"#vison", "aria_controls": "vison", "content": "Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy."}]
              each item in reasons
                .o-reason
                    a.o-reason__btn(role="button" data-toggle="collapse" href=item.href aria-expanded="false" aria-controls=item.aria_controls)=item.reasons_name
                    .o-reason__content.collapse(id=item.aria_controls)=item.content
      .col-md-6.col-xs-12
        .c-adelfox-service__service
          +tit-desc-section("our services", "It is a long established fact that a reader will be distracted by the readable content of a page ")
          .c-adelfox-service__tab.o-tab
            ul.nav.nav-tabs(role="tablist").o-tab__group
              li(role="presentation").active
                a(href="#web-design", aria-controls="web-design", role="tab", data-toggle="tab") web design
              li(role="presentation")
                a(href="#marketing", aria-controls="marketing", role="tab", data-toggle="tab") marketing
              li(role="presentation")
                a.mobile(href="#art-photo", aria-controls="art-photo", role="tab", data-toggle="tab") art photography
              li(role="presentation")
                a.tablet.mobile(href="#none", aria-controls="art-photo", role="tab", data-toggle="tab") 
            .tab-content.o-tab__content
              #web-design.tab-pane.media.active(role="tabpanel")
                .o-tab__content--img
                .o-tab__content--text 
                  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
              #marketing.tab-pane(role="tabpanel") 
                .o-tab__content--img
                .o-tab__content--text 
                  p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text. 
                  p Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
              #art-photo.tab-pane(role="tabpanel") 
                .o-tab__content--img
                .o-tab__content--text 
                  p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour. 
                  p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour
              #none.tab-pane(role="tabpanel") 