@media screen and (min-width: $screen-sm) {
  .c-slide {
    @include size-box(100%, 300px);
    background-image: url(../../images/slice/tablet/banner.png);
    &__desc {
      margin-top: px_to_rem(170px);
      &-text {
        display: block;
        text-align: center;
        max-width: 100%;
        float: none;
      }

      &-indicators {
        @include size-box(100%, 40px);
        display: block;
        text-align: center;
        float: none;
      }
    }
  }

  .c-slide__desc-text{
    a.c-btn-slide {
      display: none;
    }
  }
}
