@media screen and (min-width: $screen-md) {
  .c-footer-bottom {
    &__copy {
      display: block;
      &--content {
        text-align: left;
      }
    }

    &__nav {
      display: block;
    }
  }
}
