// desktop
@media only screen and (min-width : $screen-md) {
  .c-purchase-now {
    &__text {
      max-width: 70%;
      float: left;
      text-align: left;
      &--desc {
        line-height: 20px;
      }
    }
    &__button {
      max-width: 30%;
      float: right;
      text-align: right;
    }
  }
}
