// desktop
@media only screen and (min-width : $screen-md) {
  .c-top-footer {
    .list-social-mobile-1 {
      display: none;
    }

    .list-social-mobile-2 {
      display: none;
    }

    .icons-tablet {
      width: 8.33333%;
    }

    &__list {
      &--wrapper {
        display: block;
      }

      &--social {
        color: $cl-icon-top-footer;
        padding-top: px_to_rem(30px);
        padding-bottom: px_to_rem(30px);
      }

      &--social-1,
      &--social-3,
      &--social-11 {
        display: block;
      }
    }
  }
}
