.c-info {
  // width: 100%;
  overflow: hidden;
  background: $cl-bg-top-header;
  border-bottom: 2px solid $cl-border-info-header;
  &__personal {
    float: left;
  }
  &__cart {
    float: right;
  }
}
