include components/info-header.html.jade
include components/top-header.html.jade
include components/banner.html.jade
include components/purchase-now.html.jade
include components/feature.html.jade
include components/portfolio.html.jade
include components/mobile-display.html.jade

.order-desktop
  include components/recent-blog.html.jade
  include components/what-people-say.html.jade
  include components/core-feature.html.jade
  include components/welcom-adelfox.html.jade
  include components/capabilities.html.jade
  include components/why-adelfox-service.html.jade
  include components/responsive-design.html.jade
  include components/twitter.html.jade
  include components/meet-our-team.html.jade
  include components/purchase.html.jade
  include components/top-footer.html.jade
  include components/footer.html.jade
  include components/footer-bottom.html.jade

.order-tablet
  include components/what-people-say.html.jade
  include components/welcom-adelfox.html.jade
  include components/capabilities.html.jade
  include components/why-adelfox-service-tablet.html.jade
  include components/twitter.html.jade
  include components/responsive-design.html.jade
  include components/meet-our-team.html.jade
  include components/recent-blog.html.jade
  include components/core-feature.html.jade
  include components/princing-table.html.jade
  include components/contact.html.jade
  include components/purchase.html.jade
  include components/top-footer.html.jade
  include components/footer.html.jade
  include components/footer-bottom.html.jade
