@media screen and (min-width: $screen-xs) {
  .c-info,
  .c-search {
    display: none;
  }
  .c-top-header {
    background: $cl-bg-mobile-header;
    &__nav--mobile {
      display: block;
      margin-top: 10px;
      color: $cl-text-mobile-btn-menu;
      padding: 5px;
      border-radius: 5px;
      background: $cl-bg-mobile-btn-menu; 
    }
    &__nav--tb {
      display: none;
    }
  }
  // .c-icon-text {
  //   display: none;
  // }
}